@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 100% 97%;
    --foreground: 120 10% 25%;
    --card: 0 0% 100%;
    --card-foreground: 120 10% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 120 10% 25%;
    --primary: 120 25% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120 60% 95%;
    --secondary-foreground: 120 10% 25%;
    --muted: 120 30% 93%;
    --muted-foreground: 120 10% 45%;
    --accent: 194 25% 56%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 25% 85%;
    --input: 120 25% 85%;
    --ring: 120 25% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 120 10% 10%;
    --foreground: 120 100% 97%;
    --card: 120 10% 15%;
    --card-foreground: 120 100% 97%;
    --popover: 120 10% 10%;
    --popover-foreground: 120 100% 97%;
    --primary: 120 25% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120 10% 20%;
    --secondary-foreground: 120 100% 97%;
    --muted: 120 10% 20%;
    --muted-foreground: 120 10% 65%;
    --accent: 194 25% 56%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 20%;
    --input: 120 10% 20%;
    --ring: 120 25% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
